* {
    margin: 0px;
    padding: 0px;
}

#navbar_container {
    display: flex;
    justify-content: space-between;
    background-color: #FF9900;
    border-bottom: 3px solid #098054;
}

#welcome_sign, #logout {
    padding: 10px;
}

#welcome_sign {
    font-size: 25px;
    color: #097054;
}

a {
    text-decoration: none;
    color: #097054;
}

a:hover {
    color: #D0E4FF;
}

#logout {
    font-size: 25px;
}

#title {
    text-align: center;
    font-size: 50px;
    background-color: #6599FF;
    color: #FF9900;
}

input {
    margin-left: 20px;
    flex: 1;
    width: 300px;
    height: 21px;
    margin-top: 5px;
}

label {
    height: 21px;
    line-height: 21px;
    font-size: 25px;
    flex: 0 1 auto;
    margin-left: 20px;
    vertical-align: middle;
}

.item_containers {
    width: 400px;
    margin-top: 5px;
}

.flex_container {
    display: flex;
    justify-content: center;
    background-color: #6599FF;
}

button {
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    font-size: 21px;
}

#new_wordbutton {
    margin-left: 20px;
    margin-top: 10px;
}

#game_button {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.parent_containers {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.message_1 {
    width: 250px;
    margin-top: 45px;
}

ul {
    list-style-position: inside;
}

.messages {
    color: red;
    font-size: 25px;
}


