* {
    margin: 0 auto;
    padding: 0 auto;
}

#directions {
    text-align: center;
    margin-bottom: 10px;
}

#headline {
    margin-top: 10px;
    margin-left: 5px;
}

.flex_container {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

input {
    flex: 1;
    margin-left: 20px;
}

label {
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    flex: 0 1 auto;
}

.item_containers {
    display: flex;
    width: 300px;
    margin-bottom: 20px;
}

#messages {
    color: red;
    font-size: 20px;
}

#message_container {
    width: 250px;
    align-self: center;
}

.parent_container {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.parent_1 {
    border-top: 2px solid gray;
}



