* {
    margin: 0 auto;
    padding: 0 auto;
}

#directions {
    text-align: center;
    color: #097054;
}

#navbar_container {
    background-color: #FF9900;
}

#headline {
    margin-left: 10px;
    color: #097054;
}

.flex_container {
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    background-image: url('../img/hangman-gif.gif');
    background-position: left top;
    background-size: contain;
    background-repeat: round;
}

input {
    flex: 1;
    margin-left: 20px;
    margin-top: 10px;
}

label {
    line-height: 21px;
    height: 21px;
    font-size: 25px;
    flex: 0 1 auto;
    margin-top: 10px;
}

.item_containers {
    display: flex;
    width: 320px;
    margin-bottom: 20px;
}

#register_button, #login_button {
    margin-top: 10px;
    border-radius: 10px;
    font-size: 22px;
}

#messages {
    color: red;
    font-size: 20px;
}

#message_container {
    align-self: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
}

.parent_container {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.parent_1 {
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.parent_2 {
    border-top: 2px solid gray;
}



