* {
    margin: 0px;
    padding: 0px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    background-color: #FF9900;
}

#headline, #go_backbutton {
    padding: 10px;
}

#headline {
    color: #097054;
    font-size: 25px;
}

.content_container {
    display: flex;
    flex-direction: column;
    background-color: #6599FF;
}

#name, #words, #go_backbutton, #total_words {
    font-size: 25px;
}

#words_submitted, #total_words, #name {
    margin-left: 20px;
}

#name {
    margin-top: 10px;
}

#words {
    margin-bottom: 5px;
}

#words_submitted {
    font-size: 50px;
    color:  #097054;
}

ul {
    list-style-position: inside;
}

#words {
    margin-left: 30px;

}