<!DOCTYPE html>
<html lang="en">
<head>
    <title> Hangman: The Game </title>
</head>
<body>
    <h1> Hangman- Don't die! </h1>
    <div id="word">
        <h1> {{ request.session.blanks }} </h1>
        <h2> Hint: {{ request.session.hint }} </h2>
    </div>
    <P> <a href="/hangman/home"> Go back </a></P>
    <form action='/hangman/game/guess' method='POST'>
        {% csrf_token %}
        <label for="user_guess"> Guess a letter! </label>
        <input type="text" name="user_guess">
        <button> Submit guess </button>
    </form>
</body>
</html>