<!DOCTYPE html>
<html lang="en">
<head>
    <title> Hangman: The Game </title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "hangman_app/css/game.css" %}'>
</head>
<body>
    <h1> Hangman- Don't die! </h1>
    <div id="word">
        <h1> {{ request.session.blanks }} </h1>
        <h2> Hint: {{ request.session.hint }} </h2>
        <h2> Words guessed: {{ request.session.guess_container }} </h2>
        <h2> Tries left: {{ request.session.counter }} </h2>
        <h2> Length of hidden word: {{ request.session.word_length }} </h2> 
        <!-- <h2> # of human saves: {{ request.session.win_count }} </h2> -->
    </div>
    <p> <a href="/hangman/home"> Go back </a></p>
    <p> <a href="/hangman/game"> Play again </a></p>
    <form action='/hangman/game/guess' method='POST'>
        {% csrf_token %}
        <label for="user_guess"> Guess a letter! </label>
        <input type="text" name="user_guess">
        <button> Submit guess </button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="hangman_art">
        <h1>
            {{ request.session.art }} 
        </h1>
    </div>
</body>
</html>