<!DOCTYPE html>
<html lang="en">
<head>
    <title> Registration / Login </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hangman_app/css/index.css'%}">
</head>
<body>
    <div id='navbar_container'>
        <h1 id="headline"> Welcome to Hangman </h1> 
        <h2 id="directions"> Please log in or register below </h2>
    </div>
    <div class="flex_container">
        <div class="parent_container parent_1">
            <form action='/user/registration' method='POST'>
                {% csrf_token %}
                <h1> Registration </h1>
                <div class='item_containers'>
                    <label for="first_name"> First Name: </label>
                    <input type="text" name="first_name">
                </div>
                <div class='item_containers'>
                    <label for="last_name"> Last Name: </label>
                    <input type="text" name="last_name">
                </div>
                <div class='item_containers'>
                    <label for="alias"> Alias: </label>
                    <input type="text" name="alias">
                </div>
                <div class='item_containers'>
                    <label for="email"> Email: </label>
                    <input type="text" name="email">
                </div>
                <div class='item_containers'>
                    <label for="password"> Password: </label>
                    <input type="password" name="password">
                </div>
                <div class='item_containers'>
                    <label for="passwordcf"> Confirm PW: </label>
                    <input type="password" name="passwordcf">
                </div>
                <button id='register_button'> Register </button>
            </form>
            <form action='/user/login' method='POST'>
                {% csrf_token %}
                <h1 id='login_headline'> Login </h1>
                <div class='item_containers'>
                    <label for="email"> Email: </label>
                    <input type="text" name="email">
                </div>
                <div class='item_containers'>
                    <label for="password"> Password: </label>
                    <input type="password" name="password">
                </div>
                <button id='login_button'> Login </button> 
            </form>
        </div>
        <div class="parent_container message_1">
        {% if messages %}
            <ul> 
            {% for message in messages %}
                <li id='messages'> {{ message }}  </li>
            {% endfor %}
            </ul>
        {% endif %}    
        </div>
    </div>
</body>
</html>